<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
        text-align: center;
        color: white;
        margin-top: 5vw;
        background-color: #3d1247;
        font-size: 2.2vw;
        }

        h1 {
            color: #ede4ea;
            font-size: 4vw;
        }

        .button {
            padding: 1vw 2vw;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 2.3vw;
            margin-bottom: 0.1vw;
            text-decoration: none;
                }

        .button:hover {
            background-color: #0056b3;
        }
        
        
        
        
    </style>
</head>
<body>
    <h1>Please Login to go to personalised news feed/set personalisation</h1>
    
    
        <form action="/signup" method="get">
        
            
            <button type="submit" class="button" >Sign Up</button><br>
            <label>For New Users </label>
        
        </form>
        <br>
        <br>
        <form action="/login" method="get">
        
            
            <button type="submit" class="button">Log In</button><br>
            <label>For Existing Users </label>
            
        
        </form><br><br>
        <a href="/" class="button">Home</a><br><br>
        

</body>
</html>
